<% action = user.persisted? ? user_url(user) : users_url %>
<% method = user.persisted? ? "patch" : "post" %>
<% message = user.persisted? ? "Update User" : "Create User" %>

<form class="login__form" action="<%= action %>" method="POST">
    <%# Hidden inputs for method action and authenticity_token %>
    <input type="hidden" name="_method" value="<%= method %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

    <%# Labels and inputs for email and password %>
    <div class="login__email--container">
        <label class="login__email--item" for="user_email">Email Address</label>
        <input class="login__email-- item" type="text" id="user_email" name="user[email]">
    </div>

    <div class="login__password--container">
        <label class="login__password--item" for="user_password">Password</label>
        <input class="login__password--item" type="password" id="user_password" name="user[password]">
    </div>

    <input class="login__submit" type="submit" value="<%= message %>">
</form>