<h1 class="view__heading">Edit Band</h1>

<div class="view__container">
    <% band = @band %>

    <form action=" <%= band_url(band) %>" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label for="band_name">Name</label>
        <input type="text" id="band_name" name="band[name]" value="<%= band.name %>">
        <br>

        <input type="submit" value="Update Band">
    </form>

</div>
